@{
    ViewBag.Title = "Contact";
    ViewBag.Active = "Contact";
}

<h2>Contact</h2>
<div class="well well-small">
    <address>
        <strong>Vertrouwenscentrum Kindermishandeling</strong><br/>
        Brugsesteenweg 274 A<br/>
        9000 Gent<br/>
        <abbr title="Telefoon">Tel:</abbr> 09/216.73.30<br/>
        <abbr title="Fax">Fax:</abbr> 09/216.73.39<br/>
        <abbr title="E-mail">E-mail:</abbr> info@vkgent.be<br/>
        <abbr title="Website">Website:</abbr> www.kindermishandeling.be
    </address>
</div>

<div>
    <h4>Wegbeschrijving</h4>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src="https://maps.google.be/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Brugsesteenweg+274+A+9000+Gent&amp;aq=&amp;sll=51.08244,3.714485&amp;sspn=0.244576,0.676346&amp;ie=UTF8&amp;hq=&amp;hnear=Brugsesteenweg+274,+9000+Gent,+Oost-Vlaanderen,+Vlaams+Gewest&amp;t=m&amp;z=14&amp;ll=51.066899,3.687895&amp;output=embed">
    </iframe><br />
    <small><a href="https://maps.google.be/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=Brugsesteenweg+274+A+9000+Gent&amp;aq=&amp;sll=51.08244,3.714485&amp;sspn=0.244576,0.676346&amp;ie=UTF8&amp;hq=&amp;hnear=Brugsesteenweg+274,+9000+Gent,+Oost-Vlaanderen,+Vlaams+Gewest&amp;t=m&amp;z=14&amp;ll=51.066899,3.687895"
         style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
</div>