@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}

<div>
<h2>Home</h2>
    <p>
        Welkom op ons leerplatform.<br/>
        Je kan deze website beschouwen als een digitale omgeving om bij te leren over kindermishandeling. De website richt zich tot beroepsklachten.<br/>
        Na overleg met ons centrum en je team/docent spreken we af welk leertraject of welke cursus wenselijk is.<br/>
        Nadien kan je dan individueel inloggen en beginnen.
    </p>

    <p>
        <br/>
    </p>

    <h4>Doel van dit platform</h4>

    <p>
        Dit leerplatform biedt een uitbreiding op de vorming die je volgt op het Vertrouwenscentrum Kindermishandeling Oost-Vlaanderen. 
        U kan een aantal oefeningen raadplegen waarmee u zich kan  inwerken in het thema kindermishandeling. Tijdens het vormingsmoment met een medewerker van het Vertrouwenscentrum  
        kan er gebruik gemaakt worden van deze oefeningen.  
    </p>
</div>
